[project]
	description = this is a music player written in QML and C++.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HyperFox (HyperFox)
[access "refs/for/refs/*"]
	read = group user/HyperFox (HyperFox)
	push = group user/HyperFox (HyperFox)
	label-Code-Review = -2..+2 group user/HyperFox (HyperFox)
	label-Verified = -1..+1 group user/HyperFox (HyperFox)
	rebase = group user/HyperFox (HyperFox)
	removeReviewer = group user/HyperFox (HyperFox)
	submit = group user/HyperFox (HyperFox)
[access "refs/heads/*"]
	read = group user/HyperFox (HyperFox)
	create = group user/HyperFox (HyperFox)
	push = +force group user/HyperFox (HyperFox)
	pushMerge = group user/HyperFox (HyperFox)
[access "refs/tags/*"]
	push = +force group user/HyperFox (HyperFox)
	pushTag = group user/HyperFox (HyperFox)
	pushSignedTag = group user/HyperFox (HyperFox)
